.product-row {
  display: flex;
  border-bottom: 1px solid #eaeaea !important;
  width: 100%;
}

td {
  background-color: #fff;
  padding: 0px 25px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
  height: 65px;
  width: 65px;
  object-fit: scale-down;
}

.product-category{
  width: 200px;
}

.category{
  margin: 0;
  width: 150px;
  color: #fff;
  background-color: #003585;
  border-radius: 5px;
  padding: 3px;
  text-align: center;
}

.more {
  background-color: white;
  border: none;
}

/* .product-name{
  width: 205px;
} */
