.sidemenu {
  background-color: #fff;
  display: flex;
  justify-content: center;
  width: 250px;
}

.sidemenu ul {
  height: 360px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
  list-style: none;
  border: 1px solid #fff;
}

.sidemenu li {
  height: 40px;
  width: 188px;
  background-color: #f5f5f5;
  color: #838383;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.sidemenu a {
  text-decoration: none;
}

.selected {
  background-color: #003585 !important;
  color: #fff !important;
}
